.main {
  width: 70vw;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: re;
}

/*
Dark : #323437
Yellow: #E2B714
White: #C7C7BD
*/

.hello-text {
  font-size: 2.6rem;
}

.textAnim {
  color: #e2b714;
}

.hidden {
  opacity: 0;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  text-align: center;
}

.login {
  padding: 30px;
}

label {
  color: #c7c7bd;
  font-size: 1.8rem;
}

label:hover {
  color: #eeeeee;
}

#textInput {
  background: none;
  outline: none;
  border: none;
  font-size: 1.8rem;
  color: #e2b714;
  width: 500px;
  border-bottom: 2px solid #c7c7bd;
}

#passwordInput {
  background: none;
  outline: none;
  border: none;
  font-size: 1.8rem;
  color: #e2b714;
  width: 500px;
  border-bottom: 2px solid #c7c7bd;
}

.pic1 {
  display: block;
  position: absolute;
  transform: scale(0.3) translateX(-115%);
  filter: invert(83%) sepia(8%) saturate(211%) hue-rotate(22deg) brightness(96%)
    contrast(90%);
}

.pic2 {
  display: block;
  position: absolute;
  transform: scale(0.3) translateX(115%);
  filter: invert(83%) sepia(8%) saturate(211%) hue-rotate(22deg) brightness(96%)
    contrast(90%);
}

.logo {
  font-size: 50px;
}

.fi {
  font-size: 40px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.fi:hover {
  color: #e2b714;
  transform: scale(1.5);
  cursor: pointer;
}

.login input {
  background-color: none;
}

.clock {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 50px;
  color: #c7c7bd;
}
footer {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}

.register {
  font-size: 20px;
  position: relative;
  z-index: 1;
}

.register::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #e2b714;
  width: 240px;
  height: 0px;
  z-index: -1;
  bottom: -5px;
  transition: all 0.5s ease;
  transform: translateZ(-1px);
}

.register:hover::after {
  height: 33px;
  color: #323437;
}

a {
  transition: all 0.6s ease;
}

a:hover {
  color: #323437;
}

img.socials {
  width: 40px;
  margin: 0 20px;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}

img.socials:hover {
  transform: scale(1.2);
  cursor: pointer;
  opacity: 1;
}
