/*
Dark : #323437
Yellow: #E2B714
White: #C7C7BD
Purpl: #C164CF
Purpl2: #95549e
Purpl3: #6744a1
Red: #e4002b
Pink: #c53562
Black: #101820
White: #eedaea
Blue: 
*/

.sessions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  width: 50vw;
}

.session {
  background: #c7c7bd;
  padding: 1.3rem;
  width: 30vw;
  border-radius: 4%;
  transition: all 2s ease;
  margin-bottom: 30px;
}

.session:hover {
  background: #e2b714;
  padding: 1.3rem;
  width: 30vw;
  border-radius: 4%;
  cursor: pointer;
}

.sessText {
  color: #323437;
  font-size: 1.6rem;
}

.navig {
  font-size: 2rem;
}

.submenu {
  background: #c7c7bd;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  height: 25vh;
  transform: scale(0);
  transition: transform 0.3s ease;
  border-radius: 5%;
  z-index: 3;
}

.subopt {
  color: #323437;
  margin-bottom: 1.5rem;
  font-size: 20px;
}

.subopt:hover {
  font-weight: 600;
  cursor: pointer;
}

input {
  background: none;
  outline: none;
  border: none;
}

.dis {
  display: none;
}

.title {
  color: #6744a1;
  font-weight: 800;
}

.inv {
  opacity: 0;
}

.disNone {
  display: none;
}
