* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  color: #eeeeee;
}

/*
Dark : #323437
Yellow: #E2B714
White: #C7C7BD
*/
body {
  background-color: #323437;
  overflow-x: hidden;
}

nav {
  width: 100%;
  height: 10vh;
  background-color: #323437;
  display: flex;
  align-items: center;
  padding: 40px;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.menu-icon {
  font-size: 30px;
  transition: all 0.1s ease-in;
}

.logo {
  color: #c7c7bd;
  font-size: 50px;
  letter-spacing: 2px;
  display: flex;
}

/*TASK STYLING*/

.welcome-text {
  font-size: 55px;
  transition: all 0.7s ease;
  margin-bottom: 15vh;
}

.fi-rr-menu-burger {
  cursor: pointer;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  padding: 40px;
  background: #c7c7bd;
  width: 7vw;
  height: 60vh;
  border-radius: 2rem;
  transform: translateX(2vw);
}

.clock {
  position: absolute;
  top: 50px;
  right: 110px;
  font-size: 50px;
  color: #c7c7bd;
}

a {
  text-decoration: none;
}

.menu ul li {
  font-size: 25px;
  text-decoration: none;
  font-weight: 800;
  transition: all 0.2s ease-in-out;
}

i {
  color: #323437;
  font-size: 40px;
}

.menu ul li:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.menu-visible {
  transform: translateX(0%);
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80vh;
}
.left {
  width: 10vw;
}

.middle {
  width: 82vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
}

.pic1 {
  filter: invert(83%) sepia(8%) saturate(211%) hue-rotate(22deg) brightness(96%)
    contrast(90%);
}

.white {
  color: #c7c7bd;
}

.hidden {
  opacity: 0;
}

.inner-circle {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  border-style: solid;
  border-width: 15px;
  border-color: #e2b714;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-color: transparent;
}

.start-timer {
  position: absolute;
  top: 1vh;
  background: none;
  outline: none;
  border: none;
  font-size: 1.5rem;
  border: 2px solid #c7c7bd;
  padding: 10px;
  border-radius: 20px;
  width: 150px;
  transition: all 0.3s ease;
}

.warning {
  position: absolute;
  bottom: 10vh;
  font-size: 1.5rem;
  color: red;
  display: none;
}

.motivation {
  position: absolute;
  bottom: 13vh;
  font-size: 2rem;
  display: none;
}

.start-timer:hover {
  width: 170px;
  border: 2px solid #e2b714;
  cursor: pointer;
}

.time {
  color: red;
}

.minutes {
  background: none;
  border: none;
  width: 5vw;
  text-align: center;
  outline: none;
  font-size: 4rem;
}

.seconds {
  background: none;
  border: none;
  width: 5vw;
  text-align: center;
  outline: none;
  font-size: 4rem;
}

.pic3 {
  display: block;
  transform: scale(2.9) translateX(45%);
  filter: invert(83%) sepia(8%) saturate(211%) hue-rotate(22deg) brightness(96%)
    contrast(90%);
}
