<!DOCTYPE html lang='en'>
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">


</head>
<body>
    <div class="clock"></div>
    <nav>
        <div class="logo">ToDoList</div>  
    </nav>
    
    <div class="main">
        <img class="pic1" src="./img/DrawKit Larry Character Illustration (10).svg">
        <img class="pic2" src="./img/DrawKit Larry Character Illustration (5).svg">

            <div class="hello-text">Hey, let's get to work!</div>
            <form id="login-form">
                <div class="login">
                    <label for="textInput">E-mail:</label>
                    <input id="textInput" type="text" autofocus="true">
                </div>
                <div class="password">
                    <label for="passwordInput">Password:</label>
                    <input id="passwordInput" type="password">
                </div>
            </form>
            <i class="fi fi-rr-angle-right"></i>
        
    </div>

    <footer>
        <div class ='soc'>
            <img class="socials" src="./img/5296514_bird_tweet_twitter_twitter logo_icon.svg">
            <img class="socials" src="./img/5296501_linkedin_network_linkedin logo_icon.svg">
            <img class="socials" src="./img/5296765_camera_instagram_instagram logo_icon.svg">
        </div>
        <div class="register"><a href="/register">Don't have account?</a></div>

    </footer>
    <script src="/script/time.js"></script>
    <script src="/script/login.js"></script>
</body>

</html>