<!DOCTYPE html lang='en'>
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="clock"></div>
    <nav>
        <div class="logo">Listfy</div>  
    </nav>

    <main>
        <div class="left">
        </div>
        <div class="middle">
            <div class="welcome">Hey, {{name}}💖</div>
        </div>
        <div class="menu">
            <ul>
                <li class="menu-func main-page-func"><i class="fi fi-rr-home"></i></li>
                <li class="menu-func todolist-func"><i class="fi fi-rr-rocket"></i></li>
                <li class="menu-func"><i class="fi fi-rr-chart-histogram"></i></li>
                <li class="menu-func"><i class="fi fi-rr-settings"></i></li>
                <li class="menu-func logout"><i class="fi fi-rr-sign-out"></i></a></li>
            </ul>
        </div>
    </main>
    <script src="/script/loadTasks.js" type="module"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.3/gsap.min.js"></script>
    <script src="/script/script.js" type="module"></script>
    <script src="/script/time.js"></script>



</body>

</html>