<!DOCTYPE html lang='en'>
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/page404.css">


</head>
<body>
    <nav>
        <div class="logo">Listfy</div>  
    </nav>

    <main>
        <img class="pic" src="./img/DrawKit Larry Character Illustration (1).svg">
    </main>
   

</body>

</html>