<!DOCTYPE html lang='en'>
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="./css/register.css">
</head>
<body>
    <nav>
        <div class="logo">ToDoList</div>  
    </nav>
    <main>
        <div class="title">So you wanna have your life organized?</div>
        <div class="main">
            <img class="pic1" src="./img/DrawKit Larry Character Illustration (12).svg">
            <div class="form">
                <div class="field">
                    <div class="name">I need your name:</div>
                    <input autofocus="true" class="nameInput" type="text">
                </div>
                <div class="field">
                    <div class="email">And email of course:</div>
                    <input class="emailInput" type="text">
                </div>
                <div class="field">
                    <div class="pass">And last one, password, please:</div>
                    <input class="passwordInput" type="password">
                </div>
                <button class="registerBut">Create account</button>
            </div>
        </div>
    </main>
    <script src="/script/register.js"></script>
</body>

</html>